@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Lato:wght@700&display=swap");

:root {
    --fonte-titulo: "Lato", sans-serif;
    --fonte-texto: "Kalam", cursive;
    --cor-principal: #112D4E;
    --cor-secundaria: #3F72AF;
    --cor-tercearia: #DBE2EF;
    --cor-fonte: #F9F7F7;
   

    --cor-preto: #000000;
    --cor-fundo: linear-gradient(to bottom, var(--cor-secundaria), 70%, var(--cor-principal));
    height: 100%;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: var(--cor-fundo);
    color: var(--cor-fonte);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

footer {
    position: fixed;
    bottom: 5%;
    font-family: var(--fonte-texto);
}

#centralizador {
    display: flex;
    text-align: center; /* alinha o botão */
    justify-content: center;
    align-items: center;
    height: 80vh;
}


.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 600px;
    text-align: left;

}

.cadastro {
    flex-basis: 48%; /* Define a largura das seções para 48% */
    margin-bottom: 10px;
    font-family: var(--fonte-texto);
    
}

.cadastro label {
    margin-bottom: 5px;
}

.cadastro-texto {
    width: 100%;
    padding: 7px;
    border: 2px solid var(--cor-preto);
    border-radius: 5px;
}
.botao button {
    color: #000000;
    border-radius: 5px;
    width: 280px;
    margin: 20px 0px;
    height: 30px;
    font-family: var(--fonte-texto);
}

.botao button:hover {
    background-color: var(--cor-secundaria);
    transition: ease-in-out .3s;
}

.titulo {
    padding: 60px 0px;  
    font-family: var(--fonte-texto);
    
}

.titulo h1 {
    font-size: 280%;
    font-family: var(--fonte-titulo);
}

.titulo p{
    font-size: larger;
}